[submodule "src/projects/reactjs-food-order"]
	path = src/projects/reactjs-food-order
	url = https://github.com/saachok/reactjs-food-order.git
[submodule "src/projects/russian-losses-statistics"]
	path = src/projects/russian-losses-statistics
	url = https://github.com/saachok/russian-losses-statistics.git
[submodule "src/projects/breaking-bad-characters"]
	path = src/projects/breaking-bad-characters
	url = https://github.com/saachok/breaking-bad-characters.git
[submodule "src/projects/calculator"]
	path = src/projects/calculator
	url = https://github.com/saachok/calculator.git
[submodule "src/projects/weather-project"]
	path = src/projects/weather-project
	url = https://github.com/saachok/weather-project.git
