.container {
  display: flex;
  justify-content: center;
  height: 16rem;
  margin: 1rem 0;
}

.project-cover {
  width: 280px;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    transition: scale 0.5s;
    scale: 1.05;
  }
}
