.photo-wrapper {
  width: 80%;
  border-radius: 4px;
}

.user-photo {
  width: 100%;
  border-radius: inherit;
}

.link {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 0px) and (max-width: 600px) {
  .photo-wrapper {
    max-width: 350px;
    border-radius: 8px;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .photo-wrapper {
    max-width: 500px;
    border-radius: 8px;
  }
}

@media (min-width: 1200px) {
  .photo-wrapper {
    max-width: 350px;
  }
}
